@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto+Slab:wght@500&display=swap');

/* 
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto Slab', serif; 
*/

html, body {
    height: 100%;
}

body {
    background: linear-gradient(to bottom, #00FF00, #00FFFF);
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    letter-spacing: 1.25rem;
}

h2, h3, label, select {
    font-family: 'Roboto Slab', serif;
    letter-spacing: 0.15em;
}

button {
    font-family: 'Montserrat', sans-serif;
    width: 20%;
    padding: 1%;
    border-radius: 5px;
    letter-spacing: 0.15em;
    font-weight: bolder;
}

input {
    width: 10%;
    height: 5%;
    padding: 0;
    border-radius: 5px;
}

@media screen and (max-width: 600px) {
    h1 {font-size: 2rem;}
    input {width: 20%;}
    button {width: 40%;}
}
